                                              Assignment: Type Conversion

1- Convert a integer to a floatig-point number.

In [4]:
int_num = 24
float_num = float(int_num)
print(float_num)
type(float_num)

24.0

float

2- Convert a float to a integer.

In [5]:
float_num = 26.6
int_num = int(float_num)
print(int_num)
type(int_num)

26

int

3- Convert a integer to a string.

In [8]:
int_num = 342
string_num = str(int_num)
print(string_num)
type(string_num)

342

str

4- Convert a list to a tuple.

In [11]:
list_num = [1, 2, 3, 4, 5]
tuple_num = tuple(list_num)
print(tuple_num)
type(tuple_num)

(1, 2, 3, 4, 5)

tuple

5- Convert a tuple to a list.

In [13]:
tuple_num = (9, 8, 7, 6, 5)
list_num = list(tuple_num)
print(list_num)
type(list_num)

[9, 8, 7, 6, 5]

list

6- Convert a decimal number to binary.

In [19]:
decimal_num = 57
binary_num = bin(decimal_num)[2:]
print(binary_num)

111001

7- Convert a non-zero number to boolean.

In [22]:
non_zero_num = 55
bool_num = bool(non_zero_num)
print(bool_num)

True