1- Write a program to print numbers from 1 to 10, but stop if the number is 5.

In [2]:
for i in range(1, 11):
    if i ==5:
        break
    print(i)

1
2
3
4

2- Write a program to iterate through a list and stop when encountering a specific element.

In [5]:
my_list = [10, 20, 30, 40, 50]
stop_item = 40

for item in my_list:
    if item == stop_item:
        break
    print(item)

10
20
30

3- Write a program to skip printing even numbers from 1 to 10.

In [14]:
for i in range(1, 11):
    if i % 2 != 0:
        print(i)

1
3
5
7
9

4- Write a program to print numbers from 0 to 9 using range().

In [18]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

5- Write a program to print multiplication tables from 1 to 5, but stop after the first table is printed for each
number.

In [20]:
for i in range(1, 6):
    print(f"Multiplication of table {i}:")
    for j in range(1, 11):
        result = i * j
        print(f"{i} * {j} = {result}")
    print()

Multiplication of table 1:
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

Multiplication of table 2:
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

Multiplication of table 3:
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

Multiplication of table 4:
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

Multiplication of table 5:
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6- Write a program to skip printing even numbers using a while loop.

In [1]:
num = 0
while num < 10:
    num += 1
    if num % 2 == 0:
        continue
    print(num)

1
3
5
7
9